.form-control {
  height: 40px;
  border-color: #a1aeb7;
}


/*Form Error*/

.error-label {
  display: block;
  padding: 0 4px;
  margin: 5px 0;
  background: #f2dede;
  color: #a94442;
  font-size: 85%;
  line-height: 20px;
  .rounded(3px);
}

.success-label {
  color: green;
  padding: 10px;
}


/*Checkbox*/

.checkbox {
  label {
    padding-left: 2px;
  }
  label::before {
    background: #dbe1e5;
    border-color: #8a9399;
  }
  input[type="checkbox"]:checked + label::after {
    color: @vx-purple;
  }
}

.radio-pick {
  display: inline-block;
  padding: 10px;
  background: #d7dfe1;
  border-radius: 6px;
  p {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
  }
  label {
    margin-right: 15px;
    font-size: 13px;
  }
}
